name: Server Tests

on:
  workflow_call:

jobs:
  server-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up job
        uses: ./.github/actions/set-up-job

      - run: yarn vitest run
        working-directory: ./tasks/server-tests
